	<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	href="../static/css/font-awesome.css" th:href="@{/css/font-awesome.css}" />
<link rel="stylesheet" type="text/css"
	href="../static/css/vertical-responsive-menu.min.css"
	th:href="@{/css/vertical-responsive-menu.min.css}" />
	<link rel="stylesheet" type="text/css"
	href="../static/css/sweetalert2.min.css"
	th:href="@{/css/sweetalert2.min.css}" />
	<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}" />
	<link rel="icon" th:href="@{/images/favicon.png}" href="../static/images/favicon.png">
</head>
<body>
	<header class="header clearfix">
		<button type="button" id="toggleMenu" class="toggle_menu">
			<i class="fa fa-bars"></i>
		</button>
		<div class="logo col-lg-2 col-sm-2 col-md-2">
			<a href="#"><img src="../static/images/Shark-Tank-Logo.jpg"
				th:src="@{/images/Shark-Tank-Logo.jpg}" /></a>
		</div>
		<div class="col-lg-10 col-sm-9 col-md-9">
			<div class="col-lg-7 col-sm-6 col-md-6 top-heading">Shark Tank	
			</div>

		</div>

	</header>
	<nav class="vertical_nav">
		
		<ul id="js-menu" class="menu">

			<li class="navactive"><a th:href="@{/fetchCompanyList}" href="/SharkTank/fetchCompanyList"
				class="menu--link lable-active" title="Item 3"> <span class="menu--label">Companies</span>
			</a></li>

			

		</ul>

		<button id="collapse_menu" class="collapse_menu">
			<i class="collapse_menu--icon  fa fa-fw"></i> <span
				class="collapse_menu--label">Recolher menu</span>
		</button>
	</nav>

	<div class="wrapper">
		<section id="content" layout:fragment="content">
			<div class="row">
				<div class="col-lg-2">
					<div class="name-heading">Companies</div>
				</div>
			</div>
		</section>
	</div>







	<!-- jQuery 2.1.4 -->
    <script src="../static/js/jQuery-2.1.4.min.js" th:src="@{/js/jQuery-2.1.4.min.js}"></script>
	<script src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
		<script src="../static/js/jquery.bootpag.min.js"
		th:src="@{/js/jquery.bootpag.min.js}"></script>
	<script src="../static/js/vertical-responsive-menu.min.js"
		th:src="@{/js/vertical-responsive-menu.min.js}"></script>
	<script src="../static/js/uikit.min.js" th:src="@{/js/uikit.min.js}"></script>
    <!-- jQuery UI 1.11.2 -->
    <script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
   	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
	 <!-- Sparkline -->
    <script src="../static/js/jquery.sparkline.min.js" th:src="@{/js/jquery.sparkline.min.js}"></script>
    <!-- daterangepicker -->
    <script src="../static/js/moment.min.js" th:src="@{/js/moment.min.js}"></script>
    <script src="../static/js/daterangepicker.js" th:src="@{/js/daterangepicker.js}"></script>
   	<!-- datepicker -->
    <script src="../static/js/bootstrap-datepicker.js" th:src="@{/js/bootstrap-datepicker.js}"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="../static/js/bootstrap3-wysihtml5.all.min.js" th:src="@{/js/bootstrap3-wysihtml5.all.min.js}"></script>

<script src="../static/js/autoselect.js" th:src="@{/js/autoselect.js}"></script>
    
	<script th:inline="javascript">
		$('.menu--item').click(function() {
			$(this).addClass('navactive').siblings().removeClass('navactive');
			//$(this).find('sub_menu--item :first').click();
		});

	</script>
	<th:block layout:fragment="script"></th:block>
</body>
</html>
